{
	"presets": [
		[
			"@babel/preset-env",
			{
				"targets": {
					"node": true
				}
			}
		]
	],
	"sourceMaps": "inline",
	"retainLines": true,
	"plugins": [
		[
			"module-resolver",
			{
				"root": ["./source"],
				"alias": {
					"resources": "./resources",
					"root": "./",
					"underscore": "lodash",
					"utils": "./source/utils"
				}
			}
		]
	]
}
